/* Write your CSS here */
.bg-container {
  display: flex;
  justify-content: center;
  background-size: cover;
  height: 100vh;
  padding: 24px;
  align-items: center;
}
.container {
  border-radius: 12px;
  padding: 24px;

  text-align: center;
}
.dark-mode {
  color: #ffffff;
  background-color: #000000;
}
.light-mode {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.heading {
  font-family: 'Roboto';
  font-size: 25px;
}
.button {
  font-size: 8px;
  border: none;
  padding: 16px;
  border-radius: 8px;
}
